body {
  background: linear-gradient(
      to bottom right,
      rgba(32, 32, 32, 0.6),
      transparent
    ),
    repeating-radial-gradient(
      rgba(32, 32, 32, 0.8),
      rgba(0, 153, 153, 0.2) 1px,
      transparent 2px,
      transparent 50px
    ),
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 24px,
      rgba(0, 153, 153, 0.2),
      transparent 26px,
      transparent 100px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 24px,
      rgba(0, 153, 153, 0.2),
      transparent 26px,
      transparent 100px
    );
  background-size: auto auto, 50px 50px, 100px 100px, 100px 100px;
  background-color: black;
  background-attachment: fixed;
  margin: 0;
  color: white;
  font-family: "Questrial", sans-serif;
  animation: gradient 80s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}

header {
  justify-content: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}

.headline {
  width: 25rem;
  margin: 0 auto;
}

section {
  text-align: center;
}

form {
  display: grid;
  grid-gap: 1rem;
}

.label-wrapper {
  justify-self: center;
  display: inline-block;
  width: 24rem;
  border: 4px solid #13242c;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.label-wrapper:hover {
  border: 4px solid rgba(0, 83, 83, 0.4);
}

.label-wrapper:hover .label {
  border-right: 4px solid rgba(0, 83, 83, 0.4);
}

.label {
  display: inline-block;
  width: 3.2rem;
  padding: 0.4rem;
  border-right: 4px solid #13242c;
  font-size: 1.5em;
  text-align: left;
  text-shadow: 0 0 10px hsl(300, 50%, 99%);
}

.button {
  justify-self: center;
  width: 16rem;
  height: 3.7rem;
  margin-top: 0.7rem;
  background-color: #13242c;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 1.5em;
  text-shadow: 0 0 20px hsl(300, 50%, 99%);
}

.button:hover {
  background-color: rgba(0, 83, 83, 0.4);
  border: 2px solid rgba(0, 153, 153, 0.4);
}

input {
  color: white;
  background: none;
  border: 0;
  font-size: 1.5em;
}

input:focus {
  outline: white;
}

#msgContainer {
  justify-content: center;
  display: inline-block;
  width: 50%;
  margin-top: 4rem;
  color: #5da1c6;
  font-size: 1.1em;
  font-family: monospace;
}
